
.top-nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: #00BAF0;
  background: linear-gradient(to left, #f46b45, #eea849);
  color: #FFF;
  height: 50px;
  padding: 1em;
}

.menu {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin: 0;
  padding: 0;
  &__arrow {
    height: 50%;
    margin-left: 10px;
  }
  li {
    margin: 0 1rem;
    overflow: hidden;
    align-items: center;
  }
}

.menu-button-container {
  display: none;
  height: 100%;
  width: 30px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#menu-toggle {
  display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
  display: block;
  background-color: #fff;
  position: absolute;
  height: 4px;
  width: 30px;
  transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
  border-radius: 2px;
}

.menu-button::before {
  content: '';
  margin-top: -8px;
}

.menu-button::after {
  content: '';
  margin-top: 8px;
}

#menu-toggle:checked + .menu-button-container .menu-button::before {
  margin-top: 0px;
  transform: rotate(405deg);
}

#menu-toggle:checked + .menu-button-container .menu-button {
  background: rgba(255, 255, 255, 0);
}

#menu-toggle:checked + .menu-button-container .menu-button::after {
  margin-top: 0px;
  transform: rotate(-405deg);
}

.menu-button-container {
  display: flex;
}

.menu {
  position: absolute;
  top: 30px;
  margin-top: 50px;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  li {
    position: relative;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0.5em 0;
    width: 100%;
    color: white;
    background-color: #222;
  }
}

#menu-toggle ~ .menu li {
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
}

#menu-toggle:checked ~ .menu li {
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: visible;
}

.menu > li:not(:last-child) {
  border-bottom: 1px solid #444;
}

#consumer, #platform {
  display: none;
}

#consumer ~ .dropdown li,
#platform ~ .dropdown li {
  display: none;
  height: 0;
  margin: 0;
  padding: 0;
  border: 0;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: hidden;
}

#consumer:checked ~ .dropdown li,
#platform:checked ~ .dropdown li {
  display: flex;
  border: 1px solid #333;
  height: 2.5em;
  padding: 0.5em;
  transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
  overflow: visible;
}

.submenu {
  display: flex;
}

.dropdown {
  position: absolute;
  display: flex;
  top: 100%;
  z-index: 1;
  left: 0;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  li {
    margin: 0 1rem;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
    width: 90%;
    background-color: rgba(0, 0, 0, 1);
    a {
      color: white;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

@media (min-width: 768px) {
  .menu-button-container {
    display: none;
  }

  .menu {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 0;
    padding: 25px 50px;
    box-sizing: border-box;
    top: 0;


    li {
      overflow: visible;
      height: auto;
      width: 100%;
      color: white;
      background-color: rgba(0, 0, 0, 0);
    }
  }

  .header {

    &__navbar {
      position: relative;
      width: 68%;
      height: auto;
    }
  }

  .dropdown {
    position: absolute;
    top: .7rem;
    li {
      margin: 0 1rem;
      display: flex;
      justify-content: center;
      overflow: hidden;
      align-items: center;
      width: 80%;
      background-color: rgba(22, 98, 133, 0.9);
      a {
        color: white;
        text-decoration: none;
        cursor: pointer;
      }
    }
  }
}
