main {
  font-family: 'Lato';
  font-style: normal;
}

.introduce {
  background-color: #166285;
  position: relative;

  &__wrapper {
    position: relative;
    padding: 130px 15px 310px;
  }

  h1 {
    width: 100%;
    font-weight: 700;
    font-size: 34px;
    line-height: 37px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  p {
    margin-top: 20px;
    width: 100%;
    font-weight: 200;
    font-size: 20px;
    line-height: 24px;
    color: #FFFFFF;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  }

  &__videoblock {
    img {
      margin-right: 24px;
    }
    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 17px;
      color: #FFFFFF;
      margin: 20px 0;
      display: flex;
      justify-content: start;
      align-items: center;
      text-decoration: none;
      cursor: pointer;
    }
  }
}

.statistic {
  position: absolute;
  left: calc((100% - 168px) / 2);
  bottom: -310px;
  display: flex;
  flex-direction: column;
  justify-content: center;

  &__block {
    width: 168px;
    height: 166px;
    margin: 20px 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background: #FFFFFF;
    border: 1px solid #000E91;
    backdrop-filter: blur(2px);
    border-radius: 15px;
    color: #004FC5;

    h4 {
      margin-top: 15px;
      font-weight: 800;
      font-size: 24px;
      line-height: 29px;
    }

    h5 {
      font-family: 'Roboto';
      font-style: normal;
      font-weight: 500;
      font-size: 18px;
      line-height: 21px;
    }
  }
}

@media (min-width: 768px) {
  .introduce {
    position: relative;
    background-image: url('../images/bg-introduce.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

    &__wrapper {
      width: 50%;
      left: 50%;
      box-sizing: border-box;

      &::after {
        content: ' ';
        position: absolute;
        width: 72px;
        height: 0.5px;
        background-color: #fff;
        left: 20px;
      }
    }

    h1 {
      font-size: 64px;
      line-height: 77px;
    }
  }

  .statistic {
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    left: 0;
    bottom: -100px;
  }
}

@media (min-width: 992px) {
  .introduce {
    &__wrapper {
      width: 40%;

      &::after {
        bottom: 280px;
      }

      p {
        margin: 40px 0;
      }
    }
  }
}
